.bulletChart {
    display: block;
    overflow: visible;
    font-family: "Segoe UI", "wf_segoe-ui_normal", sans-serif;

    text {
        user-select: none;
    }
    .valueBar {
        transition: opacity 0.15s ease;
    }
}
